<%- include('partials/header') %>
<div class=" min-vh-100  d-flex flex-column justify-content-center align-items-center">
  <h1 >Autenticação com PassportJs</h1>
  <h2>Login com GoogleStrategy, FacebookStrategy e LocalStrategy</h2>
  
</div>
<%- include('partials/footer') %>
