<%- include('partials/header') %>
<div class="container pt-5 d-flex flex-column justify-content-center align-items-center w-100 ">
  <h1>Entrar</h1>
  <form method="post" class="w-50">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Usuario</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Senha</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <div class="d-grid flex-column w-100">
      <button type="submit" class="btn btn-primary">Entrar</button>
      <a class="btn btn-primary my-2" href = '/facebook'>Entrar com Facebook</a>
      <a class="btn btn-primary" href = '/google'>Entrar com Google</a>
    </div>
  </form>
</div>
<%- include('partials/footer') %>
